<ion-view view-title="Course">
<div class="bar bar-subheader">
  <h2 class="title">Faculty</h2>
</div>
  <ion-content>
  <center>
   	<h2 class="title" style="margin-bottom: 20px;">Faculty</h2>	
  </center>
<div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col" style="background: #ef473a; color:white;" ng-click="goFaculty(1)">
  <center>
  <i class="icon ion-monitor" style="font-size:40px;"></i>
  <br />
  FTMK
  </center></div>
  &nbsp;&nbsp;&nbsp;

  <div class="col" style="background: #ef473a; color:white;" ng-click="goFaculty(2)">
  <center>
  <i class="icon ion-outlet" style="font-size:40px;"></i>
  <br />
  FKEKK
  </center></div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col" style="background: #ef473a; color:white;" ng-click="goFaculty(3)">
  <center>
  <i class="icon ion-ios-cog" style="font-size:40px;"></i>
  <br />
  FTK
  </center></div>
  &nbsp;&nbsp;&nbsp;

  <div class="col" style="background: #ef473a; color:white;" ng-click="goFaculty(4)">
  <center>
  <i class="icon ion-steam" style="font-size:40px;"></i>
  <br />
  FKM
  </center></div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col" style="background: #ef473a; color:white;" ng-click="goFaculty(5)">
  <center>
  <i class="icon ion-android-bulb" style="font-size:40px;"></i>
  <br />
  FKE
  </center></div>
  &nbsp;&nbsp;&nbsp;

  <div class="col" style="background: #ef473a; color:white;" ng-click="goFaculty(6)">
  <center>
  <i class="icon ion-hammer" style="font-size:40px;"></i>
  <br />
  FKP
  </center></div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col col-100" style="background: #ef473a; color:white;" ng-click="goFaculty(7)">
  <center>
  <i class="icon ion-person-stalker" style="font-size:40px;"></i>
  <br />
  FPTT
  </center>
  </div>
  &nbsp;&nbsp;&nbsp;
</div>

</div>
  </ion-content>
</ion-modal-view>

