<ion-view view-title="Course">
  <ion-content>
  <center>
   	<h4 class="title" style="margin-bottom: 20px;" font-size:40px;>Faculty of 
    </h4>
    <h4 class="title" style="margin-bottom: 20px;" font-size:40px;>Electrical Engineering </h4> 	
  </center>

<div>
  <div class="list list-inset">
  <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
  </label>
</div>

<div class="list" ng-click="showConfirm()">

  <a class="item" >
    Engineering Ethics
  </a>

</div>
</div>
  </ion-content>
</ion-modal-view>

