<ion-view view-title="Course">
  <ion-content>
  <center>
   	<h4 class="title" style="margin-bottom: 20px;" font-size:40px;>Faculty of 
    Information</h4>	
    <h4 class="title" style="margin-bottom: 20px;" font-size:40px;>and Communication Technology</h4> 
  </center>

<div>
  <div class="list list-inset" >
  <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
  </label>
</div>

<div ng-repeat="data in data">
<div class="list" ng-click="showConfirm({{data.tutorId}})">

  <a class="item">
    {{data.subject}}
  </a>

</div>
</div>
</div>
  </ion-content>
</ion-modal-view>

