<ion-view view-title="History">
  <ion-content>
<div class="list">

   <a class="item item-avatar" ng-click="showAlert()">
    <img src="img/books.png">
      <h2>Multimedia System</h2>
      <p style="font-style: italic; font-size:12px;">2/5/2017</p>
    </a>


</div>
  </ion-content>
</ion-view>
