<ion-view view-title="">

  
  <ion-content  style="background-color: #ef473a;" overflow-scroll="false">
  <div align="center" style="margin-top:130px;">
<h2><font color="white"><p style="font-size:60px">FlexTutor</p></font></h2>
  </div>

      <form>
   <div class="card">
  <input type="text" auto-focus ng-model="loginData.username" placeholder="Username" name="fname" style="text-align: left; margin-left:15px; margin-top:15px; margin-bottom:10px;">
  <input type="password" ng-model="loginData.password" placeholder="Password" name="fname" style="text-align: left; margin-left:15px; margin-bottom:20px;">  
  </div>
  <div align="center" width="100%">
  <div class="button button-block button-normal"  style="margin-left:10px; margin-right:10px;" ng-click="doLogin()">
  <i class="icon ion-log-in assertive">
  <font color="black">Login</font>
  </i>
  </div>  
  </div>  
  </form>
  <div align="center" style="margin-top:30px;">
<h2 ng-click="doRegister()"><font color="white"><p style="font-size:15px">Sign up</p></font></h2>
  </div>
   </ion-content>

</ion-view>