<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content>
    <div style="background: #ef473a; padding: 10px;">
    <img ng-src="img/user.png" width="20%" height="46px" style="margin: 10px"/>
    <p style="    margin-top: -54px;
    margin-left: 71px;
    font-size: 16px;
    color: white;">{{username}} <br />
    {{matric}}
    </p>
</div>
      <ion-list>
        <ion-item menu-close href="#/app/course">
          <i class="icon ion-ios-book-outline" style="color: #ef473a; font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Course
        </ion-item>
        <ion-item menu-close href="#/app/reminder">
          <i class="icon ion-ios-calendar-outline" style="color: #ef473a; font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reminder
        </ion-item>
        <ion-item menu-close href="#/app/history">
          <i class="icon ion-ios-time-outline" style="color: #ef473a; font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;History
        </ion-item>
        <ion-item menu-close href="#/app/tutor">
          <i class="icon ion-ios-briefcase-outline" style="color: #ef473a; font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Be a tutor
        </ion-item>
        <ion-item menu-close ng-click="doLogout()">
          <i class="icon ion-log-out" style="color: #ef473a; font-size: 22px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
