<ion-view view-title="Register">
  <ion-content>
  <div class="card" style="margin-top: 30px;">

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="John" ng-model="regData.username">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="......" ng-model="regData.password">
  </label>
 <label class="item item-input item-stacked-label">
    <span class="input-label">Confirmation Password</span>
    <input type="password" placeholder="......">
  </label>
 <label class="item item-input item-stacked-label">
    <span class="input-label">Matric No.</span>
    <input type="text" placeholder="B012345678" ng-model="regData.matric">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
     Select Faculty
    </div>
    <select ng-model="regData.faculty">
      <option selected>Faculty of Electronics And Computer Engineering</option>
      <option>Faculty of Electrical Engineering</option>
      <option>Faculty of Mechanical Engineering</option>
      <option>Faculty of Manufacturing Engineering</option>
      <option>Faculty of Information And Communications Technology</option>
      <option>Faculty of Technology Management And Technopreneurship</option>
      <option>Faculty of Engineering Technology</option>
    </select>
  </label>
  </div>
  </div>
  <button style="margin:10px" class="button button-block button-assertive icon-left" ng-click="doRegister()"><ion-icon class="ion-checkmark">
  Register
</button>


  </ion-content>
</ion-view>
