<ion-view view-title="Multimedia Authoring">
  <ion-content>
      <!-- {{r}} -->

  <div class="list card">

    <div class="item item-avatar">
        <img src="/img/1.png">
        <h2>Time : HH:MM:SS</h2>
        <p>Month DD, YYYY</p>
    </div>

    <div class="item item-body">
        <p>Student name : </p>
        <p>Student ID : </p>
        <p>Faculty : </p>
        <p>Contact number : </p>
    </div>

  </div>

  <div class="list card">

    <div class="item item-avatar">
        <img src="/img/1.png">
        <h2>Time : HH:MM:SS</h2>
        <p>Month DD, YYYY</p>
    </div>

    <div class="item item-body">
        <p>Student name : </p>
        <p>Student ID : </p>
        <p>Faculty : </p>
        <p>Contact number : </p>
    </div>

  </div>

  </ion-content>
</ion-view>
