<ion-view view-title="Reminder">
  <ion-content>
      <!-- {{r}} -->

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>


  <div class="list" ng-repeat="data in data">

   <a class="item item-avatar" ng-click="showAlert({{data.tutorId}})">
    <img src="img/books.png">
      <h2>{{data.subject}}</h2>
      <p style="font-style: italic; font-size:12px;">{{2/5/2017}}</p>
    </a>

</div>
      </div>

  </ion-content>
</ion-view>
