<ion-view view-title="Be a tutor" cache-view="false">
  <ion-content>
    <form>

  <div class="card" style="margin-top: 10px;">

<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
     Select faculty
    </div>
    <select ng-model="regTutor.faculty">
      <option selected>Faculty of Electronics And Computer Engineering</option>
      <option>Faculty of Electrical Engineering</option>
      <option>Faculty of Mechanical Engineering</option>
      <option>Faculty of Manufacturing Engineering</option>
      <option>Faculty of Information And Communications Technology</option>
      <option>Faculty of Technology Management And Technopreneurship</option>
      <option>Faculty of Engineering Technology</option>
    </select>
  </label>

    <label class="item item-input item-select">
    <div class="input-label">
     Select Subject
    </div>
    <select ng-model="regTutor.subject">
      <option selected>Mathematics</option>
      <option selected>Tamadun Islam Tamadun Asia</option>
      <option selected>Hubungan Etnik</option>
      <option selected>Technical English</option>
    </select>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Other subject</span>
    <input type="text" placeholder="Subject name" ng-model="regTutor.subjectOther">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Date</span>
    <input type="date" placeholder="Date" ng-model="regTutor.date">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Time</span>
    <input type="time" placeholder="Time" ng-model="regTutor.time">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Venue</span>
    <input type="text" placeholder="Venue" ng-model="regTutor.venue">
  </label>

    <label class="item item-input item-stacked-label">
    <span class="input-label">Description</span>
   <textarea placeholder="Short description about the meetup" rows="7" ng-Required="true" name="description" ng-model="regTutor.description">
   </textarea>
  </label>


<!--     <label class="item item-input item-stacked-label">
    <span class="input-label">Details</span>
    <input type="textarea" placeholder="Short description about the class">
  </label> -->
</div>


</div>

</div>
      </form>

   <div align="center" style="margin:10px;">
   <button class="button button-block button-assertive icon-left" ng-click="doRegister()"><ion-icon class="ion-checkmark">
    Register
    </button>
        </div>
  </ion-content>

</ion-view>
